#sudoku-board {
  border-color: #4f4d47;
  border-style: dashed;
  border-width: medium;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  position: fixed;
}

.sudoku-cell {
  border: #cfcaba dotted medium;
  word-wrap: break-word;
  font-family: 'Engagement', cursive;
  font-weight: bold;
}

.sudoku-row .sudoku-cell:nth-child(3),
.sudoku-row .sudoku-cell:nth-child(6) {
  border-right: #696969 solid medium;
}

.sudoku-row:nth-child(3) .sudoku-cell,
.sudoku-row:nth-child(6) .sudoku-cell {
  border-bottom: #696969 solid medium;
}

.sudoku-btn {
  position: fixed;
  background-color: transparent;
  border: 0px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.sudoku-btn:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.sudoku-success {
  background-color: green !important;
  color: white !important;
  font-weight: bold !important;
}

.sudoku-failure {
  background-color: red !important;
  color: white !important;
  font-weight: bold !important;
}

.d-none {
  display: none;
}

/* When a sudoku cell can be edited */
.sudoku-editable:hover {
  cursor: pointer;
  background-color: #a6a6a6;
  color: white;
  font-weight: bold;
}

/* When a sudoku cell has been selected for editing */
.sudoku-edited {
  background-color: #a6a6a6;
  color: white;
  font-weight: bold;
}

/* When a sudoku cell has items in helper mode */
.sudoku-help {
  background-color: #f7f7f7;
  font-family: 'Gaegu', cursive;
}

#edit-panel {
  position: fixed;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.edit-options-btn {
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  background-color: transparent;
  padding: 0px;
  border: 2px;
  border-style: solid;
}

.edit-options-btn:hover {
  background-color: black;
  color: white;
  border-color: white;
}